body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: fixed; /* fixa a div na tela */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3d3e45;

  display: flex;
  justify-content: center;
  padding: 6px;
}

.content {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(200, 200, 200);
  text-align: center;
}

.addTaskContainer {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #383641;
}

.inputTitle,
.inputDescription {
  border: 2px solid rgb(0, 0, 0);
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 10px;
  background-color: rgb(104, 104, 104);
  color: white;
}

::placeholder {
  color: white;
  opacity: 25%;
}

.addButton {
  background-color: #a87016;
  color: white;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 10px;
}

.taskContainer {
  margin-top: 20px;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #383641;
}

.task {
  display: flex;
  gap: 2px;
}

.taskButton {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  background-color: gray;
  color: #f3f4f6;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.checkButton {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.detailButton {
  background-color: gray;
  color: #f3f4f6;
  padding: 5px;
  border-radius: 10px;
}

.deleteButton {
  background-color: gray;
  color: #f3f4f6;
  padding: 5px;
  border-radius: 10px;
}
