/* X */
.x::before,
.x::after {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}

/* Circulo */
.circle::before,
.circle::after {
  content: "";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
  border-radius: 50%;
}
