@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 74, 119));
}
